body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #412315;
    color: #f8e9b2;
    gap: 10px;
    margin-bottom: 50px;
    margin-inline: auto;
}

.img-logo {
    width: 40px;
    height: 40px;
}

section {
    background-color: #eee1d5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;

}
h4 {
    margin: 0;
    font-family: system-ui;
    font-size: .9em;
    color: #9d7550;
}
.div-productAndPrice {
    display: flex;
    align-items: center;
    padding-top: 10px;

}
.p-nameAnd {
    margin-left: 10px;
    margin-right: 150px;
    margin-top: 0;
    margin-bottom: 0;
}
.p-productDetails {
    color: #9d7550;
    margin-bottom: 10px;
}
.div-productDetails{
    margin-left: 27px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #e8d3bf;
}
.p-nameAnd, .p-nameAndPrice,.p-qty {
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: system-ui;
}